.filters_link.is-list-active {
  border-top-left-radius: var(--_sizes---border-radius--large);
  border-top-right-radius: var(--_sizes---border-radius--large);
  background-color: var(--brand--white);
  background-image: radial-gradient(
    circle,
    color-mix(in srgb, var(--brand--light-blue) 5%, transparent),
    color-mix(in srgb, var(--brand--light-blue) 10%, transparent)
  );
}
@media screen and (min-width: 992px) and (max-width: 1300px) {
  .hero-blog-post_row {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
